.wrapper_users {
    min-height: 100%;
    margin-bottom: 10px;
}

.users {
    height: 100%;
    padding: 60px 0 0;
    overflow-y: scroll;
}

.users::-webkit-scrollbar {
    display: none;
}

.users {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.pagesCountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.page {
    min-width: 34px;
    cursor: pointer;
    padding: 2px 6px;
    font-weight: bold;
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: 14px;
}


.selectedPage {
    background-color: rgb(47, 127, 247);
    color: #ffffff;
}



.startPage {
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
}

.endPage {
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search_form_wrapper {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 5px auto 10px;
}

.serach_form_input {
    width: 160px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    color: white;
    background-color: rgb(32, 32, 32);
}

.serach_form_btn {
    height: 100%;
    padding: 0 10px;
    margin-left: 2px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: white;
    background-color: #2f7ff7;
}

.serach_form_btn:hover {
    opacity: .9;
}

.search_filter {
    height: 100%;
    margin-left: 2px;
    color: rgb(235, 235, 235);
    background-color: rgb(32, 32, 32);
    border: none;
    outline: none;
}

.option {
    padding: 10px 0;
}

@media(max-width: 640px) {
    .users {
        padding: 40px 0 0;
    }
}