.dialogs_items {
    width: 300px;
    font-weight: 600;
    overflow-y: scroll;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dialogs_items::-webkit-scrollbar {
    display: none;
}

.dialogs_items {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 640px) {
    .dialogs_items {
        display: none;
    }
}