.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.messages {
    height: 100%;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    display: none;
}

.messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@media(max-width: 640px) {
    .wrapper {
        margin-left: 0;
    }
}