

.profile_editor::-webkit-scrollbar {
    display: none;
}

.profile_editor {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.edit_title {
    display: block;
    padding-top: 10px;
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.closeBtn {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    background-color: rgb(32, 32, 32);
}

.editform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editSavingBtn {
    width: 100%;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: rgb(47, 127, 247);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.editSavingBtn:hover {
    background-color: rgb(24, 163, 255);
}

.inputs {
    height: 40px;
    width: 100%;
    margin: 6px 0;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: rgb(185, 185, 185);
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(54, 54, 54);
}

.inputs:focus {
    border: 1px solid rgb(24, 163, 255);
}



.checkboxlabel {
    color: rgb(202, 201, 201);
    margin-top: 10px;
}

.contacts {
    font-weight: bold;
    margin-top: 10px;
}

.textarea {
    height: 100px;
    width: 100%;
    margin: 6px 0;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: rgb(185, 185, 185);
    border: 1px solid rgb(230, 228, 228);
    resize: none;
    overflow-y: scroll;
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(54, 54, 54);
}

.textarea:focus {
    border: 1px solid rgb(24, 163, 255);
}


.textarea::-webkit-scrollbar {
    display: none;
}

.textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.errorEditor {
    text-align: center;
    color: rgb(255, 0, 0);
}

.error {
    border: 1px solid rgb(255, 109, 109);
}

.fetching {
    z-index: 2;
    width: 260px;
    height: 4px;
    background: linear-gradient(to right, #00a3ee, #00a3ee);
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
    animation: scroll 1.2s ease-in-out infinite;
    -webkit-animation: scroll 1.2s ease-in-out infinite;
}

.nameblock {
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contactBlock {
    margin: 10px 0;
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.aboutmeblock {
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@keyframes scroll {
    50% {
        background-size: 80%
    }

    100% {
        background-position: 125% 0;
    }
}


@media (min-width: 320px) {
    
    .contactBlock, .nameblock, .aboutmeblock {
        width: 280px;
    }
}

@media (min-width: 380px) {
    
    .contactBlock, .nameblock, .aboutmeblock {
        width: 340px;
    }
}
