.settings {
    height: 100%;
    padding: 60px 0 0;
    color: white;
    overflow-y: scroll;
}

.settings::-webkit-scrollbar {
    display: none;
}

.settings {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.wrapper {
    height: calc(100vh - 120px);
    margin-bottom: 5px;
}

@media(max-width: 640px) {
    .settings {
        padding: 40px 0 0;
    }
}