.userContainer {
    min-height: 160px;
    height: 160px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.userContainer+.userContainer {
    margin-top: 10px;
}

.avatar {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avatar_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 4px 20px 4px 120px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.data {
    display: flex;
    justify-content: space-between;
}

.data span{ 
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.followBtn {
    padding: 5px 20px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    outline: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.subscribe {
    background-color: rgb(40, 163, 245);
}


.subscribe:hover {
    cursor: pointer;
    background-color: rgb(7, 143, 68);
}

.unsubscribe {
    background-color: rgb(7, 143, 68);
}

.unsubscribe:hover {
    cursor: pointer;
    background-color: rgb(40, 163, 245);
}

.status {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}