.profile {
    position: relative;
    height: 100%;
    padding: 60px 0 0;
    overflow-y: scroll;
}

.profile::-webkit-scrollbar {
    display: none;
}

.profile {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profile_wrapper {
    min-height: 100%;
    padding-bottom: 5px;
}

.profile_bottom_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 640px) {
    .profile {
        padding: 40px 0 0;
    }
}