.message {
    max-width: 400px;
    padding: 4px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(49, 49, 49);
    margin-bottom: 4px;
    word-wrap: break-word;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.right .message {
    color: rgb(255, 255, 255);
    background-color: rgb(47, 127, 247);
}

@media(max-width: 640px) {
    .message {
        max-width: 260px;
    }
}