@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #161616;
}

.appWrapper {
  background-color: #161616;
}

.container {
  position: relative;
  margin: 0 200px
}

.app-wrapper-content {
  position: relative;
  height: 100vh;
}

.not_found {
  display: block;
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  text-align: center;
}

@media (max-width: 1200px) {

  .container {
    margin: 0 100px
  }

}

@media (max-width: 992px) {
  .container {
    margin: 0 60px
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 30px
  }
}

@media (max-width: 640px) {
  .container {
    margin: 0 10px
  }

  .app-wrapper-content {
    padding: 20px 0 0;
  }
}