.bottom_bar {
        width: 310px;
        min-height: 50px;
        max-height: 100px;
        position: sticky;
        display: flex;
        padding: 0 14px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(32, 32, 32);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        user-select: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}

@media (max-width: 640px) {
        .bottom_bar {
                width: inherit;
                max-width: inherit;
                left: 0;
                transform: none;
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
}
}