.bottom_bar {
        min-width: 310px;
        height: 50px;
        position: fixed;
        display: flex;
        margin-bottom: 2px;
        padding: 0 14px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(32, 32, 32);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        user-select: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

@media (max-width: 640px) {
        .bottom_bar {
                width: 92%;
        }
}